<%# THIS IS A TEMPLATE THAT WILL CONTAIN THE CONTENT FOR THE FINAL OUTPUT OF
THIS APPLICATION %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mybrary</title>
  </head>
  <body>
    Before
    <br />
    <%# This is where we will put the content of everything inside of my
    application %> <%# Every ejs file will be imported into this body section %>
    <%- body %>
    <br />
    After
  </body>
</html>
