:root {
  --nav-title-font-size: 3rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
  --color-text-light: rgba(255, 255, 255, 0.5);
}

.header-title {
  color: var(--main-white);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-link {
  list-style: none;
}

.header-link a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
}

.header-link a:hover,
.header-title:hover {
  color: white;
}
